.bg-purple{
	background-color: rgb(124, 19, 110) !important;
}

.text-purple{
	color: purple !important;
}

.btn-purple{
	background-color: purple;
}

.btn-purple:hover{
	background-color: darkviolet;
}
